@import "./assets/styles/variables";
@import "./assets/styles/navbar";

@import "./assets/styles/randomCocktail";
@import "./assets/styles/addCocktail";
@import "./assets/styles/allCocktails";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Mukta', sans-serif;
}

.backgroundImg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

h1 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}

button {
  background-color: transparent;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
  width: 25vw;
  height: 4vh;
}
